!!!
%html
	%head
		%title= 'BasePath'
		%link{:rel => 'stylesheet',
					:href =>'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/ui-darkness/jquery-ui.css',
					:type => 'text/css'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'}
		%script{:type => 'text/javascript',
						:src =>'scripts/jquery.sparkline.min.js'}
		%script{:type => 'text/javascript',
						:src =>'scripts/basepath.js'}

	%body
		#header
		#main
			#left
			#center
				#teams
					- @divisions.each do |division|
						.division
							.division_title #{division.league.name} #{division.name}
							- division.teams.each do |team|
								.team
									#{team.city} #{team.name}
									%span{:class => "inlinesparkline"}
										1,4,-4,7,-5,9,10
							%p
			#right
		#footer
		